{% load static %}
<!doctype html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCC - Centro Cultural Clavijero</title>
    <link rel="stylesheet" href="{% static "css/app.css" %}">
  </head>
  <body class="ccc">

    {% include "partials/navigation.html" %}
    


    {% block header %}

    {% endblock header %}
      
    
    {% block body %}

    {% endblock body %}
    
    
    

    {% include "partials/footer.html" %}
    
    

    <script src="{% static "js/app.js" %}"></script>
  </body>
</html>
